{% extends 'teacher_layout.html' %}
{% load static from staticfiles %}
{% block content %}

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Student List</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="#">Student</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Student List</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12">
                <div class="card-box">
                    <div class="card-head">
                        <header>Student List</header>
                        <button id="sdntmenu" class="mdl-button mdl-js-button mdl-button--icon pull-right"
                            data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="sdntmenu">
                            <li class="mdl-menu__item"><i class="fa fa-print"></i>Print</li>
                            <li class="mdl-menu__item">
                                <i class="fa fa-file-pdf-o"></i>Save as PDF
                            </li>
                            <li class="mdl-menu__item">
                                <i class="fa fa-file-excel-o"></i>Export to Excel
                            </li>
                        </ul>
                    </div>

                    <div class="card-body ">
                        <div class="row">

                        </div>
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                                id="example4">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Student FirstName</th>
                                        <th>Student LastName</th>
                                        <!-- <th>Phone</th>
                                        <th>Email</th>
                                        <th>Starting Year</th>
                                        <th>Student capacity</th> -->
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% if classname == class_name %}
                                    <tr class="odd">
                                        {% for student in students %}
                                        <td>{{ student.id }}</td>
                                        <td> {{student.admin.first_name}}</td>
                                        <td>{{student.admin.last_name}}</td>
                                        <!-- <td>{{ dept.phone }}</td>
                                        <td>{{ dept.email }}</td>
                                        <td>{{ dept.start_date }}</td>
                                        <td>{{ dept.dept_capacity }}</td> -->
                                    {% endfor %}
                                    </tr>
                                    {% endif %}

                                    


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->

{% endblock content %}