{% extends 'student_layout.html' %}
{% load static from staticfiles %}

{% block content %}



<!-- start page content -->
<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class=" pull-left">
          <div class="page-title">Student Profile</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
          <li>
            <i class="fa fa-home"></i>&nbsp;<a
              class="parent-item"
              href="index.html"
              >Home</a
            >&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a class="parent-item" href="#">Students</a>&nbsp;<i
              class="fa fa-angle-right"
            ></i>
          </li>
          <li class="active">Student Profile</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar w-100">
          <div class="card card-topline-aqua">
            <div class="card-body no-padding height-9">
              <div class="row">
                <div class="profile-userpic">
                  <img
                    src="{% static '/img/image.png' %}"
                    class="img-responsive"
                    alt=""
                  />
                </div>
              </div>
              <div class="profile-usertitle">
                <div class="profile-usertitle-name">{{request.user.first_name}} {{request.user.last_name}}</div>
                <div class="profile-usertitle-job">{{request.user.email}}</div>
              </div>
              <!-- END SIDEBAR USER TITLE -->
              <!-- SIDEBAR BUTTONS -->
              <div class="profile-userbuttons">
                <button
                  type="button"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-primary"
                >
                  Profile Picture
                </button>
              </div>
              <!-- END SIDEBAR BUTTONS -->
            </div>
          </div>
          <div class="card">
            <div class="card-head card-topline-aqua">
              <header>About Me</header>
            </div>
            <div class="card-body no-padding height-9">
              <div class="profile-desc">
                Hello I am John Deo a Professor in xyz College Surat. I love to
                work with all my college staff and seniour professors.
              </div>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Gender </b>
                  <div class="profile-desc-item pull-right">Female</div>
                </li>
                <li class="list-group-item"></li>
                <li class="list-group-item">
                  <b> Username</b>
                  <div class="profile-desc-item pull-right">
                    {{request.user.username}}
                  </div>
                </li>
                <li class="list-group-item">
                  <b>Class</b>
                  <div class="profile-desc-item pull-right">{{request.user.student.student_id}}</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-head card-topline-aqua">
              <header>Address</header>
            </div>
            <div class="card-body no-padding height-9">
              <div class="row text-center m-t-10">
                <div class="col-md-12">
                  <p>
                    456, Pragri flat, varacha road, Surat <br />
                    Gujarat, India.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->

      </div>
    </div>
  </div>
  <!-- end page content -->
</div>

{% endblock content %}