{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="Responsive Admin Template" />
	<meta name="author" content="SmartUniversity" />
	<title>Smart</title>
			<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
	<link href="{% static 'fonts/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'fonts/material-design-icons/material-icon.css' %}" rel="stylesheet" type="text/css" />
	<!--bootstrap -->
	<link href="{% static '/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static '/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
	<!-- Material Design Lite CSS -->
	<link rel="stylesheet" href="{% static '/plugins/material/material.min.css' %}">
	<link rel="stylesheet" href="{% static '/css/material_style.css' %}">
	<!-- Theme Styles -->
	<link href="{% static '/css/theme/light/theme_style.css' %}" rel="stylesheet" id="rt_style_components" type="text/css" />
	<link href="{% static '/css/theme/light/style.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static '/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static '/css/pages/formlayout.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static '/css/responsive.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static '/css/theme/light/theme-color.css' %}" rel="stylesheet" type="text/css" />
	<!-- favicon -->
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
        <div class="page-wrapper">
                <!-- start header -->
                <div class="page-header navbar navbar-fixed-top">
                    <div class="page-header-inner ">
                        <!-- logo start -->
                        <div class="page-logo">
                            <a href="studentPage.html">
                                <span class="logo-icon material-icons fa-rotate-45">school</span>
                                <span class="logo-default">Smart</span> </a>
                        </div>
                        <!-- logo end -->
                        <ul class="nav navbar-nav navbar-left in">
                            <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                        </ul>
                        <form class="search-form-opened" action="#" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." name="query">
                                <span class="input-group-btn">
                                    <a href="javascript:;" class="btn submit">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </span>
                            </div>
                        </form>
                        <!-- start mobile menu -->
                        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                            <span></span>
                        </a>
                        <!-- end mobile menu -->
                        <!-- start header menu -->
                        <div class="top-menu">
                            <ul class="nav navbar-nav pull-right">
                                <li><a href="javascript:;" class="fullscreen-btn"><i class="fa fa-arrows-alt"></i></a></li>
                                <!-- end message dropdown -->
                                <!-- start manage user dropdown -->
                                <li class="dropdown dropdown-user">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <img alt="" class="img-circle " src="{% static '/img/dp.jpg' %}" />
                                        <span class="username username-hide-on-mobile"> Kiran </span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default">
                                        <li>
                                            <a href="user_profile.html">
                                                <i class="icon-user"></i> Profile </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="login.html">
                                                <i class="icon-logout"></i> Log Out </a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- end manage user dropdown -->
                    
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end header -->
                
                <!-- start page container -->
                <div class="page-container">
                    <!-- start sidebar menu -->
                    <div class="sidebar-container">
                        <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                            <div id="remove-scroll" class="left-sidemenu">
                                <ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false" data-auto-scroll="true"
                                 data-slide-speed="200" style="padding-top: 20px">
                                    <li class="sidebar-toggler-wrapper hide">
                                        <div class="sidebar-toggler">
                                            <span></span>
                                        </div>
                                    </li>
                                    <li class="sidebar-user-panel">
                                        <div class="user-panel">
                                            <div class="pull-left image">
                                                <img alt="" class="img-circle " src="{% static '/img/dp.jpg' %}" />
                                            </div>
                                            <div class="pull-left info">
                                                <p> Kiran Patel</p>
                                                <a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline"> Online</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="studentPage.html" class="nav-link nav-toggle">
                                            <i class="material-icons">dashboard</i>
                                            <span class="title">Home</span>
                                            <span class="selected"></span>
                                            
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item start active">
                                        <a href="#" class="nav-link nav-toggle"> <i class="material-icons">school</i>
                                            <span class="title">Courses</span> <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="nav-item">
                                                <a href="student-courses.html" class="nav-link "> <span class="title">All Courses</span>
                                                </a>
                                            </li>
                                        
                                            <li class="nav-item">
                                                <a href="register-course.html" class="nav-link "> <span class="title">Register Course</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link nav-toggle"> <i class="material-icons">face</i>
                                            <span class="title">Classroom</span> <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="nav-item">
                                                <a href="lecture-room.html" class="nav-link"> <span class="title">Lecture Room</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="student_grade.html" class="nav-link"> <span class="title">Student Grade</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="live-chat.html" class="nav-link"> <span class="title">Live Chat</span></a>
                                            </li>
                                        </ul>
                                    </li>
        
                            </div>
                        </div>
                    </div>
                    <!-- end sidebar menu -->
			<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Course Registration</div>
							</div>
							<ol class="breadcrumb page-breadcrumb pull-right">
								<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li><a class="parent-item" href="#">Course</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li class="active">Course Registration</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="card card-box">
								<div class="card-head">
									<header>Course Details</header>
									<button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">
										<i class="material-icons">more_vert</i>
									</button>
									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
										<li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
										<li class="mdl-menu__item"><i class="material-icons">print</i>Print</li>
									</ul>
								</div>
								<div class="card-body" id="bar-parent">
									<form action="#" id="form_sample_1" class="form-horizontal">
										<div class="form-body">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Student Name
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="studentname" placeholder="enter student name" class="form-control input-height" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Matriculation Number
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="matricno" placeholder="enter matric no" class="form-control input-height" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Student Department
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="departmentname" placeholder="enter department" class="form-control input-height" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Starting year
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="date" name="startingyear" placeholder="enter year" class="form-control input-height" />
                                                </div>
                                            </div>
											<div class="form-group row">
												<label class="control-label col-md-3">Course Name
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">
													<input type="text" name="coursename" placeholder="enter course name" class="form-control input-height" />
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Course Code
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">
													<input type="text" name="ccode" placeholder="enter course code" class="form-control input-height" /> </div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Course Details
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">
													<textarea name="address" placeholder="course details" class="form-control-textarea" rows="5"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Starting Date
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">
													<div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2"
													 data-link-format="yyyy-mm-dd">
														<input class="form-control input-height" size="16" placeholder="Starting Date" type="text" value="">
														<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
													</div>
													<input type="hidden" id="dtp_input2" value="" />
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Course Duration
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">
													<input type="text" name="csuration" placeholder="Course Duration" class="form-control input-height" />
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Contact No.
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">
													<input name="number" type="text" placeholder="Contact Number" class="form-control input-height" /> </div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Profile Picture
												</label>
												<div class="compose-editor">
													<input type="file" class="default" multiple>
												</div>
											</div>
											<div class="form-actions">
												<div class="row">
													<div class="offset-md-3 col-md-9">
														<button type="submit" class="btn btn-info m-r-20">Submit</button>
														<button type="button" class="btn btn-default">Cancel</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end page content -->
			
		</div>
		<!-- end page container -->
		<!-- start footer -->
		<div class="page-footer">
			<div class="page-footer-inner"> 2019 &copy; Smart By
				<a href="mailto:redstartheme@gmail.com" target="_top" class="makerCss">Redstar Theme</a>
			</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<!-- end footer -->
	</div>
<!-- start js include path -->
	<script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
	<script src="{% static '/plugins/popper/popper.js' %}"></script>
	<script src="{% static '/plugins/jquery-blockui/jquery.blockui.min.js' %}"></script>
	<script src="{% static '/plugins/jquery-validation/js/jquery.validate.min.js' %}"></script>
	<script src="{% static '/plugins/jquery-validation/js/additional-methods.min.js' %}"></script>
	<script src="{% static '/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static '/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
	<script src="{% static '/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
	<script src="{% static '/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker-init.js' %}" charset="UTF-8"></script>
	<!-- Common js-->
	<script src="{% static '/js/app.js' %}"></script>
	<script src="{% static '/js/pages/validation/form-validation.js' %}"></script>
	<script src="{% static '/js/layout.js' %}"></script>
	<script src="{% static '/js/theme-color.js' %}"></script>
	<!-- Material -->
	<script src="{% static '/plugins/material/material.min.js' %}"></script>
	<!-- end js include path -->
</body>

</html>