
{% extends 'base_layout.html' %} {% block content %}

<!-- start page content -->
<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class=" pull-left">
          <div class="page-title">Add Subject</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
          <li>
            <i class="fa fa-home"></i>&nbsp;<a
              class="parent-item"
              href="index.html"
              >Home</a
            >&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a class="parent-item" href="#">Subject </a>&nbsp;<i
              class="fa fa-angle-right"
            ></i>
          </li>
          <li class="active">Add Subject</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card card-box">
          <div class="card-head">
            <header>Subject Details</header>
            <button
              id="panel-button"
              class="mdl-button mdl-js-button mdl-button--icon pull-right"
              data-upgraded=",MaterialButton"
            >
              <i class="material-icons">more_vert</i>
            </button>
            <ul
              class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              data-mdl-for="panel-button"
            >
              <li class="mdl-menu__item">
                <i class="material-icons">assistant_photo</i>Action
              </li>
              <li class="mdl-menu__item">
                <i class="material-icons">print</i>Print
              </li>
            </ul>
          </div>
          <div class="card-body" id="bar-parent">
            <!-- <form method="post" enctype="multipart/form-data" action="" id="form_sample_1" class="form-horizontal"> -->
              
                <form role="form" action="/add_teacher_save" method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Username" name="username">
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" name="first_name">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" name="last_name">
                    </div>

                    <div class="form-group">
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="form-actions">
                  <div class="row">
                    <div class="offset-md-3 col-md-9">
                      <button type="submit" class="btn btn-info m-r-20">
                        Save
                      </button>
                      <button type="button" class="btn btn-default">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
<!-- end page content -->
