{% extends 'base_layout.html' %} {% block content %}

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Add Student</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="#">Student </a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Add Student</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Student</header>
                        <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right"
                            data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                            <li class="mdl-menu__item">
                                <i class="material-icons">assistant_photo</i>Action
                            </li>
                            <li class="mdl-menu__item">
                                <i class="material-icons">print</i>Print
                            </li>
                        </ul>
                    </div>
                    <div class="card-body" id="bar-parent">
                        <!-- <form method="post" enctype="multipart/form-data" action="/add_student_save" id="form_sample_1" class="form-horizontal"> -->

                            <!-- <div class="form-body"> -->
                                <!-- {% csrf_token %} -->
                                {% url 'add_student_save' as action_path %}
                                {% include 'hod_template/form_template.html' %}
                            <!-- </div> -->



                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
<!-- end page content -->